<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Snap! <%= get_current_dir %></title>
  <link rel="shortcut icon" type="image/x-icon" href="/__snap__/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/__snap__/styles.css" media="screen, print" />
</head>
<body>
  <img src='/__snap__/snap.jpg'/ style="position:absolute;">
  <div align="center">
    <div id="content">
      <h3>404izzle</h3>
      Go back to <a href="/"><%= get_root_dir %></a>.
    </div>
  </div>
</body>
</html>